.UpdateContainer {
  height: 10em;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 1.2em;
  border-radius: 0.4em;
  margin: 0.8em;
  /* box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  /* background-color: white; */
}
